# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Virtual Environment
.venv/
venv/
ENV/

# Configuration
.env

# Database & Runtime stores
database/*.db
data/
logs/*.log

# Operating system files
.DS_Store
Thumbs.db

# Test coverage & cached directories
.coverage
cache/

# Node.js
node_modules/
coverage/
package-lock.json
